#Jour{
  position:relative;
  text-align: center;
  align-items: center;
  min-height:240px;
}
#Seance {
  position: absolute;
  top: var(--position-element);
  left: 0px;   /* Distance depuis la gauche du parent */
  width: 100%;
  height:var(--taille-element);
  background: #ccc;
  text-align: center;
  align-items: center;
}