body {
    background-color :white;
}
img.icon {
    display : inline;
    height : 40px;
}
table {
    margin: 80px auto 0;
    border: 1px solid white;
    color: white;
}
tr {
    background-color :gray;
    color : white;
}
td {
    border :1px white;
    color : white;
    padding: 10px 18px;
}
th {
    background-color :grey;
    color :white;
    padding: 10px 18px;
}
h1 {
    margin: 80px 80px 40px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}
form {
    display: flex;
    justify-content: center;
}
p{
    text-align: center
}
:focus-visible {
  outline: 3px solid white;
  outline-offset: 2px;
  box-shadow: 0 0 0 6px black; /* Complément pour contraste élevé */
}

button{
    /* min-height:44px;
    //min-width:44px;*/
    font-size: 24px;
}

.hidden-label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
}


button.nav-link{
    color :white;
}